<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fact0rn Dashboard DEMO</title>
     <style>
        /* GoogleFont */
        @import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
    </style>
        <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboardDetail.css') }}">
        <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.7.1.min.js') }}"></script>
        <!-- BootStrapJS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <p id="ip_addr" style="display: none;">{{ip_addr}}</p>
    <p id="web_port" style="display: none;">{{web_port}}</p>
    <div class="loadingPanel">
        <div class="loadingMSG">
            <div class="loadingANI"></div><br>
            Fact0rnDashboard Loading
        </div>
    </div>
    <div class="errorPanel" style="display: none;">
        <div class="errorMSGName">
            Fact0rnDashboard Error
        </div>
        <div id="errMsg">error</div>
    </div>
    <div class="staticArea">
        <header>
            <p class="header_name">{{node}}</p>
            <div class="staticIcons">
                <!-- <ion-icon name="arrow-redo-outline" class="staticIcon"></ion-icon>
                <ion-icon name="moon-outline" class="staticIcon"></ion-icon> -->
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="#" class="navSelect" id="nav_block" onclick="changeSelect('block')">Block & Miner</a></li>
                <li><a href="#" id="nav_resources" onclick="changeSelect('resources')">Resources</a></li>
            </ul>
        </nav>
    </div>
    <div class="webContent" id="blockContent">
        <div class="contentContainer">
            <p class="contentName">
                <ion-icon name="time-outline" class="contentIcon"></ion-icon>
                Time
            </p>
            <p class="countValue cf" id="nowTime"></p>
            <p class="countValue cf" id="serverTime"></p>
        </div>
    </div>

    <div class="webContent" id="resourcesContent" style="display: none;">


    </div>

</body>
<!-- IONICONS -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<!-- CUSTOM JS -->
<script type="text/javascript" src="{{ url_for('static',filename='js/dashboardDetail.js') }}"></script>
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
</html>